body{
    margin: 0;
    background-color:#c4122f;
    background-image: url(body\ bg.jpg);
}

.image-div{
    background-color: #202124;
}

.logo{
    transform: translate(700px);
    height: 200px;
}

.text-logo{
    
    height: 200px;
}

.cards{
    height: 150px;
    padding: 20px;
    border-radius: 50px;
    
}

.c-div{
    margin-top: 100px;
    text-align: center;
}

.para{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: justify;
    font-size: 20px;
    margin: 100px 100px;
}

.map{
    text-align: center;
}

.ori-map{
    border-radius: 20px;
    margin-bottom: 50px;
    transform: translate(250px);
    
}

.nav{
    background-color: #202124;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}

a{
    font-size: 25px;
    text-decoration: none;
}

.next-icon{
    height: 50px;
    padding: 10px;
}


.h1-menu{
    text-align: center;
    padding: 50px;
    background-color: #202124;
    color: aliceblue;
    font-size: 1.5rem
}

.table-div{
    
    padding: 50px;
    color: #202124;
}

.menu-table{
    transform: translate(200px);
    margin: auto;
    border: solid 1px;
}

.th-menu{
    text-align: center;
    padding: 10px 60px;
    border: solid 1px;
}

.table-img{
    height: 150px;
}

.order-form{
    border: none;
    margin: auto;
}

tr,td,th{
    font-weight: bold;
    padding: 10px;
}

input, textarea{
    background-color: #c4122f;
    border: solid 1.3px #202124;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    height: 20px;
}

.mark-img{
    height: 100px;
}

.footer-div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202124;
    color: aliceblue;
    margin: 0;
    padding: 30px;
    text-align: center;
}


.submit{
    margin: 50px;
    padding: 10px 20px;
    border: solid 0px;
    border-radius: 10px;
    background-color: #202124;
    color: aliceblue;
    font-weight: bold;

}

.place-div{
    padding-top: 30px;
    background-color: #c4122f;
}


.kfc-logo{
    
    height: 100px;
}

video{
    margin: 50px;
    height: 500px;
    border-radius: 30px;
}

.vid-div{
    text-align: center;
}

.finger{
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.cont-table{
    margin: auto;
}

.cont-td{
    padding: 20px 30px ;
    text-align: left;
    font-weight: normal;
}

.logos{
    padding: 60px 20px 0;
   
    height: 30px;
}